
<!DOCTYPE html>
<html>
    <head>
        <title>Translate</title>
        <style>
           #bgm{
            -moz-transform: scale(1);
               border: 2px solid red;
               margin-left: 200px;
               margin-top: 200px;
           }
           #bgm:hover{
            -moz-transform:scale(2);
           }
        </style>
    </head>
    <body>
        <img src="messi.jpg" id="bgm">
    </body>
</html>
