<html>
    <head>
    <style>
        
        body{
            background-color: yellowgreen;
        }
        .bol div{
                 display: inline;
        }
        
    </style>
    </head>

    <body>
      
      <div class="bol">
        Name:  <div><input type="text" placeholder=" Enter your name"></div>
         Password: <div><input type="password" placeholder="Enter your password"></div>
          <div><button>Submit</button></div>
      </div>
                
    </body>
    
</html>
