<html>
<head>

    <title>2D</title>
    <style>
        body{
            background-color: yellow;
        }
        div{
               align-items: center;
               justify-content: center;
               margin: auto;
              width: 300px;
              margin-top: 200px;
        }
        img{
            
           
                  transition: 5s;
                  
            border: 3px solid tomato;
        }
        img:hover{
               transform:rotate(-180deg);
                  transition: 5s;
        }
    </style>

</head>





<body>
    <div>
        <img src="gzmnn.jpg" width="200" height="200">
    </div>
</body>



</html>
