
<!DOCTYPE html>
<html>
    <head>
        <title>Translate</title>
        <style>
            img{
               -moz-transform:matrix(1,0,0,1,0,0); 
               transform:matrix(1,0,0,1,0,0); 
            }
            img:{
                
                -moz-transform:matrix(1,2,0,2,0,0); 
                transform:matrix(1,2,0,2,0,0); 
            }
           
        </style>
    </head>
    <body>
        <img src="messi.jpg">
    </body>
</html>
