<html>
    <head>
    <style>
        #container{
                   background-color: yellow;
                   color: black;
                   border: 2px solid red;
                   position: static;
                   margin-top: 100px;
                   
                  
        }
        #page{
             position:relative;
             left: 30px;
             top: 10px;

        }
        h1{
            color: red;
        }
        
    </style>
    </head>

    <body>
       <div id="container">
           <h1>CSS Positions</h1>
           <p id="page">The HyperText Markup Language, or HTML is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets (CSS) and scripting languages such as JavaScript.

            Web browsers receive HTML documents from a web server or from local storage and render the documents into multimedia web pages. HTML describes the structure of a web page semantically and originally included cues for the appearance of the document.</p>
       </div>

              
                
    </body>
    
</html>
